.md-dialog-container {
    width: 350px;
    height: 375px;
}

.md-dialog-content {
    width: 350px;
    height: 375px;
}

.form-control {
    width: 300px;
}

mat-form-field {
    width: 100%;
}

.form-error {
    font-size: 75%;
}