.md-dialog-container {
    width: 350px;
    height: 275px;
}

.md-dialog-content {
    width: 350px;
    height: 240px;
}

.form-control {
    width: 300px;
}

.form-error {
    color: red;
}

mat-form-field {
    width: 100%;
}