<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="md-dialog-container">
        <h1 mat-dialog-title>Login</h1>
        <mat-dialog-content class="md-dialog-content">
            <div class="form-group">
                <mat-form-field>
                    <input matInput type="text" formControlName="email" class="form-control" placeholder="Email"/>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input matInput type="password" formControlName="password" class="form-control" placeholder="Password"/>
                </mat-form-field>
            </div>
            <div class="form-error" *ngIf="loginErrorMsg">
                {{ loginErrorMsg }}
            </div>
            <mat-dialog-actions>
                <div class="form-group">
                    <button mat-button class="btn btn-primary" (click)="onRegister()">Register</button>
                    <a [routerLink]="['/forgotPassword']" mat-button class="btn btn-primary">Forgot Password</a>
                </div>
                <div class="form-group">
                    <button mat-button class="btn btn-primary">Login</button>
                 </div>
            </mat-dialog-actions>
        </mat-dialog-content>
    </form>
</div>